<div
  fxLayout="column"
  style="
    min-height: 80vh;
    background-color: beige;
    background-image: url('assets/agreement.jpg');
    background-size: cover;
    align-items: center;
    vertical-align: middle;
  "
  fxLayoutAlign="center center"
  fxLayoutGap="60px"
>
  <span
    style="
      font-size: 5vw;
      font-family: cairo, Arial, Helvetica, sans-serif;
      color: beige;
      text-shadow: 1px 1px 1px black;
      padding: 50px;
      font-weight: bold;
    "
    ><strong> اتصل بنا </strong>
  </span>
  <span
    style="
      font-size: 24px;
      font-family: 'cairo', Arial, Helvetica, sans-serif;
      color: #fed03d;
      text-align: center;
      line-height: 40px;
      text-shadow: 1px 1px 1px black;
      max-width: 70vw;
      font-weight: bold;
    "
  >
    نحرص دائما على الرد على جميع من يخاطبنا و يتواصل معنا
  </span>
</div>

<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 70px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: whitesmoke;
  "
>
  <span> اتصل بنا </span>
  <hr
    style="width: 100px; height: 3px; background-color: #fed03d; border: none"
  />
  <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <div fxFlex="30">DG: Karim T</div>
    <span
      fxFlex="70"
      fxLayout="row"
      fxLayoutAlign="center center"
      style="
        font-size: 12px;
        padding: 50px;
        line-height: 30px;
        color: gray;
        padding: 70px;
        font-family: Cairo, Arial, Helvetica, sans-serif;
        font-weight: 400;
        line-height: 1.31;
        letter-spacing: 0px;
        font-style: normal;
        font-size: 32px;
        text-align: center;
        background-color: whitesmoke;
      "
      fxFlexFill
    >
      <div
        fxLayout="column"
        fxFlexFill
        fxLayoutAlign="center center"
        style="
          padding: 0px;
          font-family: Cairo, Arial, Helvetica, sans-serif;
          font-weight: 400;
          line-height: 1.31;
          letter-spacing: 0px;
          font-style: normal;
          font-size: 32px;
        "
        dir="rtl"
      >
        <div
          fxLayout="column"
          fxFlexFill
          fxLayoutAlign="center end"
          style="
            padding: 70px;
            font-family: Cairo, Arial, Helvetica, sans-serif;
            font-weight: 400;
            line-height: 1.31;
            letter-spacing: 0px;
            font-style: normal;
            font-size: 32px;
            text-align: center;
            background-color: white;
            box-shadow: 0px 0px 5px rgb(207, 207, 207);
            border-radius: 10px;
          "
          dir="rtl"
        >
          <mat-form-field
            appearance="outline"
            fxFlexFill
            style="font-size: 14px"
          >
            <mat-label>الإسم الكامل </mat-label>
            <input matInput placeholder="   " value="" />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            fxFlexFill
            style="font-size: 14px"
          >
            <mat-label>البريد الالكتروني </mat-label>
            <input matInput placeholder="  " value="" />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            fxFlexFill
            style="font-size: 14px"
          >
            <mat-label>الموضوع</mat-label>
            <input matInput placeholder=" " value="" />
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            fxFlexFill
            style="font-size: 14px"
          >
            <mat-label>الرسالة</mat-label>
            <textarea matInput rows="6" placeholder="  " value=""></textarea>
          </mat-form-field>
          <button
            mat-flat-button
            style="background-color: #fed03d; padding: 5px 30px 5px 30px"
            color="primary"
          >
            ارســــــال
          </button>
        </div>
      </div>
    </span>
  </div>
</div>
