<div
  fxLayout="column"
  style="
    min-height: 80vh;
    background-color: beige;
    background-image: url('assets/agreement.jpg');
    background-size: cover;
    align-items: center;
    vertical-align: middle;
  "
  fxLayoutAlign="center center"
  fxLayoutGap="60px"
>
  <span
    style="
      font-size: 5vw;
      font-family: cairo, Arial, Helvetica, sans-serif;
      color: beige;
      text-shadow: 1px 1px 1px black;
      padding: 50px;
      font-weight: bold;
    "
    ><strong> {{ "about" | translate }} </strong>
  </span>
  <span
    style="
      font-size: 24px;
      font-family: 'cairo', Arial, Helvetica, sans-serif;
      color: #fed03d;
      text-align: center;
      line-height: 40px;
      text-shadow: 1px 1px 1px black;
      max-width: 70vw;
      font-weight: bold;
    "
    >{{ "homeText" | translate }}
  </span>
  <span></span>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 70px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: #ffffff;
  "
>
  <span>
    {{ "homeTitle" | translate }}
  </span>
  <hr
    style="width: 300px; height: 3px; background-color: #fed03d; border: none"
  />
  <div fxLayout="row" fxLayoutAlign="center center">
    <span fxFlex="70" style="font-size: 14px; padding: 50px; line-height: 30px">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </span>
  </div>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 70px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: whitesmoke;
  "
>
  <span> {{ "lettre" | translate }} </span>
  <hr
    style="width: 300px; height: 3px; background-color: #fed03d; border: none"
  />
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="30">{{ "lettre" | translate }}</div>
    <span
      fxFlex="70"
      style="font-size: 12px; padding: 50px; line-height: 30px; color: gray"
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </span>
  </div>
</div>
