<div
  fxLayout="column"
  style="
    min-height: 80vh;
    background-color: beige;
    background-image: url('assets/agreement.jpg');
    background-size: cover;
    align-items: center;
    vertical-align: middle;
  "
  fxLayoutAlign="center center"
  fxLayoutGap="60px"
>
  <span
    style="
      font-size: 60px;
      font-family: cairo, Arial, Helvetica, sans-serif;
      color: beige;
      text-shadow: 1px 1px 1px black;
      padding: 50px;
      font-weight: bold;
    "
    ><strong> مؤسسة الأعمال الإدارية والتجارية </strong>
  </span>
  <span
    style="
      font-size: 24px;
      font-family: 'cairo', Arial, Helvetica, sans-serif;
      color: #fed03d;
      text-align: center;
      line-height: 40px;
      text-shadow: 1px 1px 1px black;
      max-width: 70vw;
      font-weight: bold;
    "
  >
    الصدق والنزاهة والاستقلالية
  </span>
  <span></span>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 70px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: #ffffff;
  "
>
  <span> الصدق والنزاهة والاستقلالية </span>
  <hr
    style="width: 300px; height: 3px; background-color: #fed03d; border: none"
  />
  <div fxLayout="row" fxLayoutAlign="center center">
    <span fxFlex="70" style="font-size: 14px; padding: 50px; line-height: 30px"
      >شركة CMB مكرسة لتقديم أفضل نوعية من الخدمات الاستشارية التي تشمل خدمات
      الاستشارات التجارية والاستثمارية ، وإعادة الهيكلة والخدمات التنظيمية
      الأخرى ، والاستشارات المالية ، ومعايير نظام الإدارة ، وخدمات الخصخصة. تقدم
      شركة CMB خدماتها الاستشارية مع المعايير الدولية والخبرة الوطنية أكثر من 10
      سنوات من الريادة في مجالات الاقتصاد والإدارة والتميز والأمانة.</span
    >
  </div>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 70px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: whitesmoke;
  "
>
  <span> كلمة المدير </span>
  <hr
    style="width: 300px; height: 3px; background-color: #fed03d; border: none"
  />
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="30">DG: Karim T</div>
    <span
      fxFlex="70"
      style="font-size: 12px; padding: 50px; line-height: 30px; color: gray"
    >
      <p>
        “رجل أعمال” أو “سيدة أعمال” لقب صعب يسعى وراءه الكثير من الناس في الفترة
        الأخيرة بعد أن اكتشفوا أن الوظيفة الحكوميّة ليست هي الحل، الجميل في هذا
        اللقب ليس فقط الحصول على الثروة التي تأتي معه ولكن في الحرية التي يمنحك
        و التي يسعى لها كل إنسان، فهو يحرر الإنسان من رقِّ الوظيفة إلى حرية
        العمل الحر. هناك فرقٌ بين أن تكون أحد الموظفين وأن تصبح أنت رب العمل.
      </p>
      <p>
        ولقد أدركنا عند تأسيسنا لشركة ” CMB” للإستشارة الإدارية والتجارية أهمية
        الدور الذي يجب أن يلعبه القطاع الخاص وقطاع الاستثمار في نمو الاقتصاد
        الوطني، لذلك عملنا بشكل حثيث منذ اليوم الأول لتأسيس الشركة كي نصبح إحدى
        الشركات الداعمة للقطاع عبر تمويل وتبني الأفكار المشاريع وإعطائها إشارة
        البداية إلى رحاب أوسع لتتحول من مجرد أفكار ومشاريع إلى شركات ومؤسسات
        قائمه بذاتها ، منطلقين في توجهنا من الزخم الكبير الذي تعيشه الأعمال
        الخاصة الذي تشهده الجزائر، حيث تسجل كل يوم عشرات المشاريع في شتى
        المجالات.
      </p>
      <p>
        وتجسد شركتنا مثال حي على دور الشباب الجزائري في مجال ريادة الأعمال،
        وقدرتهم على تطوير المشاريع الاقتصادية ذات القيمة والناجحة ، فهناك الكثير
        من الأفكار الخاصة بأولئك الشباب والتي تحولت إلى مشاريع ناجحة بفضل
        والرؤية الثاقبة لأصحاب تلك الأفكار الذين اقتنعوا به وتمسكوا بأفكارهم تلك
        فسعوا بكل طاقتهم إلى تحويلها إلى واقع ملموس ، فكان لهم ما أرادوا بفضل
        المثابرة والإصرار .
      </p>
      <p>
        علاوة على ذلك فلقد أخذنا على أنفسنا عهداً تجاه المستثمرين بأن نسعى بكل
        ما لدينا من خبرات متراكمة، وجهود مخلصة، وكوادر بشرية متخصصة ومؤهلة،
        للعمل بجد وبهمة عالية لتحقيق ما يصبون إليه عند تعاملهم معنا، حيث أن أي
        شركه تود تحقيق إنجازات مستقبلية في زمن قياسي لابد أن ترتكز على نهج
        استثماري يقوم على المنافع المشتركة بين الشركة وعملائها.
      </p>
      <p>
        وهذا وقد تمكنا – ولله الحمد – خلال هذه الفترة الزمنية القصيرة نسبيا من
        بناء شبكة واسعة من التحالفات والعلاقات الإستراتيجية مع عدد كبير من
        المستثمرين في الكثير من دول المجالات
      </p>
    </span>
  </div>
</div>
