.example-spacer {
  flex: 1 1 auto;
}
.menu-item {
  cursor: pointer;
  color: #fed03d;
  margin: 10px;
  font-size: 14px;
  padding: 10px 30px;
  font-weight: bold;
  font-family: "Changa", Arial, Helvetica, sans-serif;
}
.menu-item:active {
  color: #fccc2f;
}
.menu-item:hover {
  background-color: #fed13d3b;
  border-radius: 3px;
}
.active-route {
  background-color: #fed03d;
  border-radius: 3px;
  color: whitesmoke;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
