<mat-toolbar
  [class.mat-elevation-z2]="true"
  style="
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    min-height: 100px;
  "
  fxLayout="row"
  fxLayoutAlign="space-around center"
  ><span><img src="assets/logo.png" width="80" height="80" /></span>
  <span class="example-spacer"></span>

  <span
    mat-flat-button
    class="menu-item"
    [routerLink]="['/service']"
    routerLinkActive="active-route"
  >
    خدماتنا
  </span>
  <span
    mat-flat-button
    class="menu-item"
    [routerLink]="['/contact']"
    routerLinkActive="active-route"
  >
    اتصل بنا
  </span>
  <span
    mat-flat-button
    class="menu-item"
    [routerLink]="['/info']"
    routerLinkActive="active-route"
  >
    لمحة عنا
  </span>
  <span
    mat-flat-button
    class="menu-item"
    [routerLink]="['/home']"
    routerLinkActive="active-route"
  >
    الرئيــسية
  </span>
  <span class="example-spacer"></span
></mat-toolbar>
<div fxLayout="row" fxLayoutAlign="space-around start">
  <div fxFlex="100">
    <router-outlet></router-outlet>
  </div>
</div>
