*:not(mat-icon) {
  font-family: cairo, Arial, Helvetica, sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 205px;
  height: 255px;
  border-radius: 10px;
  perspective: 1000px;
}
.enlarge-card {
  background-color: transparent;
  width: 205px;
  height: 255px;
  cursor: pointer;
  border-radius: 10px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  border-radius: 10px;
  height: 255px;
  min-height: 255px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.enlarge-card-inner {
  position: relative;
  border-radius: 10px;
  height: 255px;
  min-height: 255px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.enlarge-card:hover .enlarge-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.enlarge-card-front,
.enlarge-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  font-family: cairo, Arial, Helvetica, sans-serif;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  font-size: 16px;
  line-height: 30px;
}

.flip-card-back {
  font-family: cairo, Arial, Helvetica, sans-serif;
  background-color: #fed03d;
  border-radius: 10px;
  font-size: 16px;
  line-height: 30px;
  transform: rotateY(180deg);
}
.enlarge-card-back {
  font-family: cairo, Arial, Helvetica, sans-serif;
  background-color: #fed03d;
  border-radius: 10px;
  font-size: 16px;
  line-height: 30px;
  transform: rotateX(180deg);
}
.enlarge {
  position: relative;
  border-radius: 10px;
  visibility: hidden;
  height: 250px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.enlarge:hover {
  transform: scale(2);
  visibility: visible;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
