<div
  fxLayout="column"
  style="
    min-height: 80vh;
    background-color: beige;
    background-image: url('assets/agreement.jpg');
    background-size: cover;
    align-items: center;
    vertical-align: middle;
  "
  fxLayoutAlign="center center"
  fxLayoutGap="60px"
>
  <span
    style="
      font-size: 60px;
      font-family: cairo, Arial, Helvetica, sans-serif;
      color: beige;
      text-shadow: 1px 1px 1px black;
      padding: 50px;
      font-weight: bold;
    "
    ><strong> كونترول تكنولوجي و ماناجمنت</strong>
  </span>
  <span
    style="
      font-size: 24px;
      font-family: 'cairo', Arial, Helvetica, sans-serif;
      color: #fed03d;
      text-align: center;
      line-height: 40px;
      text-shadow: 1px 1px 1px black;
      max-width: 70vw;
      font-weight: bold;
    "
    >تعد الوساطة التجارية اليوم واحدة من بين ابرز الوسائل البديلة المعتمدة لحل
    النزاعات والخلافات ، وهي سنة بعد سنة، تتخذ لها مكانا هاما في المبادلات
    التجارية والعلاقات
  </span>
  <span fxLayout="row">
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      fxFlex
      fxFlexFill
    >
      <button
        mat-raised-button
        fxFlexFill
        fxFlex
        style="
          padding: 15px 100px;
          background: #333;
          color: blanchedalmond;
          font-weight: bold;
          font-size: 20px;
        "
        [routerLink]="['/contact']"
      >
        اتصل بنا
      </button>
      <button
        mat-raised-button
        fxFlexFill
        fxFlex
        style="
          padding: 15px 100px;
          background: #fed03d;
          font-weight: bold;
          font-size: 20px;
        "
        [routerLink]="['/service']"
      >
        خدماتنا
      </button>
    </div>
  </span>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 50px 130px 0px 130px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: #fed03d;
  "
>
  <span>
    تسعى المؤسسة لتقديم خدماتها الإستشارية بمعايير عالمية وخبرات وطنية ومهنية
    عالية في المجالات الإقتصادية والإدارية</span
  >
  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-raised-button
      style="
        padding: 15px 100px;
        background: #333;
        color: blanchedalmond;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        bottom: -30px;
      "
    >
      اتصل بنا
    </button>
  </div>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 130px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: #ffffff;
  "
>
  <span> مؤسسة الأعمال الإدارية والتجارية</span>
  <hr
    style="width: 300px; height: 3px; background-color: #fed03d; border: none"
  />
  <span style="font-size: 18px; padding: 20px">
    نحن نفخر في قدرتنا على التعامل مع كل مهمة على حدة، من الناحية الموضوعية، ومع
    الالتزام الكامل</span
  >
  <div
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxLayoutGap="40px"
    fxFlexFill
  >
    <div fxFlex class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">hghg</div>
        <div class="flip-card-back">
          <div style="padding: 20px 50px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              رؤيتنا
            </h1>
            <p>
              تعزيز الأنشطة الاقتصادية، وتوجيه برامج الاستثمار، وبناء وتعزيز
              العلاقات المتبادلة بين المنظمات العاملة في نفس الأعمال. التميز في
              أدائنا المهني وتقييمه باستمرار. نتوصل إلى أفضل الحلول من خلال
              التعاون و التتواصل بيننا وبين عملائنا
            </p>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">hghg</div>
        <div class="flip-card-back">
          <div style="padding: 20px 50px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              الرسالة
            </h1>
            <p>
              تعزيز الأنشطة الاقتصادية، وتوجيه برامج الاستثمار، وبناء وتعزيز
              العلاقات المتبادلة بين المنظمات العاملة في نفس الأعمال. التميز في
              أدائنا المهني وتقييمه باستمرار. نتوصل إلى أفضل الحلول من خلال
              التعاون و التتواصل بيننا وبين عملائنا
            </p>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">hghg</div>
        <div class="flip-card-back">
          <div style="padding: 20px 50px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              الأهداف
            </h1>
            <p>
              تعزيز الأنشطة الاقتصادية، وتوجيه برامج الاستثمار، وبناء وتعزيز
              العلاقات المتبادلة بين المنظمات العاملة في نفس الأعمال. التميز في
              أدائنا المهني وتقييمه باستمرار. نتوصل إلى أفضل الحلول من خلال
              التعاون و التتواصل بيننا وبين عملائنا
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
