<div
  fxLayout="column"
  style="
    min-height: 80vh;
    background-color: beige;
    background-image: url('assets/agreement.jpg');
    background-size: cover;
    align-items: center;
    vertical-align: middle;
  "
  fxLayoutAlign="center center"
  fxLayoutGap="60px"
>
  <span
    style="
      font-size: 5vw;
      font-family: cairo, Arial, Helvetica, sans-serif;
      color: beige;
      text-shadow: 1px 1px 1px black;
      padding: 50px;
      font-weight: bold;
    "
    ><strong> {{ "homeTitle" | translate }} </strong>
  </span>
  <span
    style="
      font-size: 24px;
      font-family: 'cairo', Arial, Helvetica, sans-serif;
      color: #fed03d;
      text-align: center;
      line-height: 40px;
      text-shadow: 1px 1px 1px black;
      max-width: 70vw;
      font-weight: bold;
    "
    >{{ "homeText" | translate }}
  </span>
  <span fxLayout="row">
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
      fxFlex
      fxFlexFill
    >
      <button
        mat-raised-button
        fxFlexFill
        fxFlex
        style="
          padding: 15px 100px;
          background: #333;
          color: blanchedalmond;
          font-weight: bold;
          font-size: 20px;
        "
        [routerLink]="['/contact']"
      >
        {{ "contact" | translate }}
      </button>
      <button
        mat-raised-button
        fxFlexFill
        fxFlex
        style="
          padding: 15px 100px;
          background: #fed03d;
          font-weight: bold;
          font-size: 20px;
        "
        [routerLink]="['/service']"
      >
        {{ "service" | translate }}
      </button>
    </div>
  </span>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 50px 130px 0px 130px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: #fed03d;
  "
>
  <span> {{ "homeSubTexte" | translate }} </span>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button
      mat-raised-button
      style="
        padding: 15px 100px;
        background: #333;
        color: blanchedalmond;
        font-weight: bold;
        font-size: 20px;
        position: relative;
        bottom: -30px;
      "
      [routerLink]="['/contact']"
    >
      {{ "contact" | translate }}
    </button>
  </div>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 70px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: #ffffff;
  "
>
  <span> {{ "homeTitle" | translate }}</span>
  <hr
    style="width: 300px; height: 3px; background-color: #fed03d; border: none"
  />
  <span style="font-size: 18px; padding: 20px">
    {{ "homeSubTexte" | translate }}
  </span>
  <div
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxLayoutGap="40px"
    fxFlexFill
    style="padding: 50px"
  >
    <div fxFlex class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div fxLayout="column" style="padding: 50px">
            <div fxFlex>
              <mat-icon style="transform: scale(3)">query_stats</mat-icon>
            </div>
            <div fxFlex>
              <h1
                style="
                  font-size: 30px;
                  font-weight: bold;
                  font-family: cairo, Arial, Helvetica, sans-serif;
                  margin: 40px;
                "
              >
                {{ "vision" | translate }}
              </h1>
            </div>
          </div>
        </div>
        <div class="flip-card-back">
          <div style="padding: 20px 10px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              {{ "vision" | translate }}
            </h1>
            <p style="font-size: 12px">
              {{ "visionText" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div fxLayout="column" style="padding: 50px">
            <div fxFlex>
              <mat-icon style="transform: scale(3)">info</mat-icon>
            </div>
            <div fxFlex>
              <h1
                style="
                  font-size: 30px;
                  font-weight: bold;
                  font-family: cairo, Arial, Helvetica, sans-serif;
                  margin: 40px;
                "
              >
                {{ "lettre" | translate }}
              </h1>
            </div>
          </div>
        </div>
        <div class="flip-card-back">
          <div style="padding: 20px 10px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              {{ "lettre" | translate }}
            </h1>

            <p style="font-size: 12px">
              {{ "lettreText" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div fxLayout="column" style="padding: 50px">
            <div fxFlex>
              <mat-icon style="transform: scale(3)">info</mat-icon>
            </div>
            <div fxFlex>
              <h1
                style="
                  font-size: 30px;
                  font-weight: bold;
                  font-family: cairo, Arial, Helvetica, sans-serif;
                  margin: 40px;
                "
              >
                {{ "objectif" | translate }}
              </h1>
            </div>
          </div>
        </div>
        <div class="flip-card-back">
          <div style="padding: 20px 10px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              {{ "objectif" | translate }}
            </h1>

            <p style="font-size: 12px">
              {{ "objectifText" | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  fxLayout="column"
  fxLayoutAlign="center center"
  style="
    padding: 0px 70px 50px 70px;
    font-family: Cairo, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.31;
    letter-spacing: 0px;
    font-style: normal;
    font-size: 32px;
    text-align: center;
    background-color: #ffffff;
  "
>
  <span> {{ "service" | translate }}</span>
  <hr
    style="width: 300px; height: 3px; background-color: #fed03d; border: none"
  />
  <span style="font-size: 28px; padding: 20px">
    {{ "homeSubTexte" | translate }}
  </span>
  <div
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutAlign="space-around center"
    fxLayoutGap="40px"
    fxFlexFill
    style="padding: 0px 50px"
  >
    <div
      fxFlex
      class="enlarge-card"
      style="
        background-image: url('assets/thumbnail.png');
        background-size: cover;
        background-position: center;
      "
    >
      <div class="enlarge-card-inner">
        <div class="enlarge-card-back">
          <div style="padding: 20px 50px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              {{ "lettre" | translate }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div
      fxFlex
      class="enlarge-card"
      style="
        background-image: url('assets/thumbnail.png');
        background-size: cover;
        background-position: center;
      "
    >
      <div class="enlarge-card-inner">
        <div class="enlarge-card-back">
          <div style="padding: 20px 50px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              {{ "lettre" | translate }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div
      fxFlex
      class="enlarge-card"
      style="
        background-image: url('assets/thumbnail.png');
        background-size: cover;
        background-position: center;
      "
    >
      <div class="enlarge-card-inner">
        <div class="enlarge-card-back">
          <div style="padding: 20px 50px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              {{ "lettre" | translate }}
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div
      fxFlex
      class="enlarge-card"
      style="
        background-image: url('assets/thumbnail.png');
        background-size: cover;
        background-position: center;
      "
    >
      <div class="enlarge-card-inner">
        <div class="enlarge-card-back">
          <div style="padding: 20px 50px">
            <h1 style="font-family: cairo, Arial, Helvetica, sans-serif">
              {{ "lettre" | translate }}
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
